<!DOCTYPE html>
<html lang="en">
<head>
  <link rel= 'stylesheet' href="/css/styles.css">
  <link rel='icon' href='/assets/image/weather.png'>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>
<body>
  <div class='main-content'>
    {{>header}}
    <p>
      This site was created by Winston
      <br>
      <br>
      This application uses Mapbox API with WeatherStack to generate location and weather data
    </p>
    <img class='portrait' src="/assets/image/robot.png">
  </div>
  {{>footer}}
</body>
</html>