<!DOCTYPE html>
<html lang="en">

<head>
  <link rel='stylesheet' href="/css/styles.css">
  <link rel='icon' href='/assets/image/weather.png'>
  <script src='/scripts/client.js' defer></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>

<body>
  <div class='main-content'>
    {{>header}}
    <form>
      <input placeholder="Enter an address">
      <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
  </div>
  {{>footer}}
</body>

</html>